/.idea/
/tjcloud-dd-core/target/
/tjcloud-face-core/target/
/tjcloud-match-core/target/
/tjcloud-order-core/target/
/tjcloud-pay-core/target/
/tjcloud-stadium-core/target/
/tjcloud-tenant-core/target/
/tjcloud-uac-core/target/
